In [1]:
import sys
!{sys.executable} -m pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\91990\anaconda3\lib\site-packages (8.4.0)

In [2]:
import mysql.connector

In [3]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd="@VarshaRani999"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002801B8BA590>

In [4]:
mycursor=mydb.cursor()
# mycursor.execute("CREATE DATABASE authorized_user")

In [5]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('a',)
('authorized_user',)
('chatapp',)
('emp_spring_boot_mysql',)
('imp',)
('information_schema',)
('login_demo_springboot',)
('mysql',)
('performance_schema',)
('rest_db',)
('springboot_hibernate_jpa',)
('springboot_maven',)
('springboot_rdbms_sql',)
('student',)
('sys',)

In [6]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd="@VarshaRani999",
database="authorized_user"
)
mycursor=mydb.cursor()
# mycursor.execute("CREATE TABLE my_table(id int primary key, Name varchar(50), Age int, Address varchar(50))")

In [7]:
mycursor.execute("SHOW Tables")
for x in mycursor:
    print(x)

('my_table',)